<html>
<header>
    <title> PAGE D'ACCUEILLE </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.js"></script>
</header>
<body>

<h1>HAMMA Belkacem</h1>



</body>

</html>